.message{
    max-width: 45vw;
    max-height: 30vh;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index:  10;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.message img{
    width: 3rem;
    height: 3rem;
}
.message button{
    padding: .5rem 1rem;
}