.sideBar{
    min-height: 100vh;
    width: fit-content;
    padding: 1rem;
    background-color: #020707ce;
    display: inline-block;
    color: aliceblue;
}
.sideBar div{
    margin: .1rem;
    padding: 1rem;
}
.sideBar div:hover {
    cursor: pointer;
    text-decoration: underline;
}
.sideBar .courses:hover .school {
    display: block;
}
.sideBar .school{
    position: absolute;
    top: 17%;
    left: 138px;
    background-color: #020707ce;
    display: none;
}